# Bỏ qua file cấu hình môi trường chứa thông tin bảo mật (Database, Port...)
**/.env

# Bỏ qua các thư viện tải về của Node.js (rất nặng, không được push lên GitHub)
**/node_modules/
**/npm-debug.log*

# Bỏ qua các file rác, file build tự sinh của Android Studio
**/.gradle/
**/build/
**/.idea/
*.iml
*.apk
*.aar

# Bỏ qua file rác của hệ điều hành
.DS_Store
Thumbs.db